{{ define "main" }}
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Build The Future <em>DeCal</em>
            </h1>
            <h2 class="subtitle is-4">
                UGBA 198, previously CS 198 (Spring 2017 &ndash; Fall 2020).
            </h2>
            <a href="https://fa20.thefuture.build" class="button is-primary" target="_blank">Fall 2020 Course Website »</a>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content">
            {{.Content}}
        </div>
    </div>
</section>
{{end}}