<div class="columns">
    <div class="column">
        <img src="/images/decal/topics.png" class="image" alt="Build The Future DeCal 10 Core Topics">
        <strong style="display: block; margin-top: 10px;">Build The Future DeCal 10 Core Topics</strong>
    </div>
    <div class="column">
        <img src="/images/decal/structure.png" class="image" alt="Build The Future DeCal Course Structure">
        <strong style="display: block; margin-top: 10px;">Build The Future DeCal Course Structure</strong>
    </div>
</div>