@charset "utf-8";

@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/bulma/sass/utilities/initial-variables';

$blue: #2b50dc;
$blue-invert: #ffffff;
$pink: #fcc2c1;

// Fonts setup
@import 'fonts/ambit';
@import 'fonts/circular';

$title-family: 'Ambit', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;
$body-family: 'Circular', BlinkMacSystemFont, -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$primary: $blue;
$primary-invert: $blue-invert;

$secondary: #b4c5fa;
$secondary-light: #f0f4fe;
$secondary-gray: #989898;

$dark: #000000;

/* Sticky Footer Reset */
html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

em {
  font-style: normal;
  font-weight: bold;
  color: $primary;
}

/*! purgecss start ignore */
@import 'components/hero';
@import 'components/sphere';
@import 'components/title';
@import 'components/button';
@import 'components/footer';
@import 'components/sponsors';
@import 'components/navbar';
@import 'components/content';
@import 'components/subscribe';
@import 'components/expand';

@import 'pages/community';
@import 'pages/about';
@import 'pages/blogs';
@import 'pages/home';
@import 'pages/podcast';
/*! purgecss end ignore */

@import '../../node_modules/bulma/bulma';

// custom plugins
// @import '../../node_modules/animate.css/animate';
