@charset "utf-8";

@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/bulma/sass/utilities/initial-variables';

$blue: #2b50dc;
$blue-invert: #ffffff;
$pink: #fcc2c1;

// Fonts setup
@import './fonts/ambit.scss';
@import './fonts/circular.scss';

$title-family: 'Ambit', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;
$body-family: 'Circular', BlinkMacSystemFont, -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$primary: $blue;
$primary-invert: $blue-invert;

$secondary: #b4c5fa;
$secondary-light: #f0f4fe;
$secondary-gray: #989898;

/* Sticky Footer Reset */
html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

@import './components/landing.scss';
@import './components/sphere.scss';
@import './components/title.scss';
@import './components/button.scss';
@import './components/footer.scss';
@import './components/sponsors.scss';
@import './components/navbar.scss';

@import '../../node_modules/bulma/bulma';

// custom plugins
@import '../../node_modules/animate.css/animate';
