a.button,
button.button {
  border-style: none;
  border-radius: 15px;
  font-weight: bold;
  font-family: $title-family;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  &.is-wider {
    padding-left: 2em;
    padding-right: 2em;
  }

  &:not(:first-of-type) {
    margin-left: 1rem;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    transform: scale(1.1, 1.1);

    &::after {
      opacity: 1;
    }
  }

  &:active {
    transform: scale(0.95, 0.95);
  }

  &.is-light {
    color: $primary !important;
  }

  &.is-alt {
    background-color: $pink;
    color: #000000;
  }

  &.is-spotify {
    background-color: #1db954;
    color: #191414;
  }
}
