div.content {
  margin-bottom: 3rem;

  @media only screen and (min-width: $tablet) {
    max-width: 75%;
  }

  blockquote {
    background-color: whitesmoke;
    border-left: 5px solid #dbdbdb;
    padding: 1.25em 1.5em;
    margin-left: 0;

    p {
      font-size: 1.1rem;
      font-style: italic;
    }
  }

  &.titleOnly {
    p {
      font-size: 1.4rem;
      font-family: $body-family;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-family;
    color: $primary;
  }

  p,
  ul,
  ol {
    font-size: 1.2rem;
    line-height: 1.75;
  }

  a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: $blue;
    text-decoration-thickness: .125em;
    text-underline-offset: 1.2px;
    text-decoration-skip: edges leading-spaces trailing-spaces;

    &:hover {
      color: $blue;
      text-decoration-style: solid;
    }

    &:visited {
      color: adjust-hue($blue, 45deg);
      text-decoration-color: adjust-hue($blue, 45deg);
    }
  }

  li {
    p {
      margin-bottom: 0 !important;
    }
  }

  .image {
    margin-bottom: 10px;

    img {
      margin-bottom: 10px;
    }

    .image-caption {
      color: #9797a0;
      text-align: center;
      font-size: 0.8rem;
    }
  }

  em {
    font-weight: normal;
    color: #4a4a4a;
    font-style: italic;
  }
}
