$footer-background-color: #000000;
$footer-color: #ffffff;
$footer-padding: 3rem 1.5rem 1rem;

.footer {
  a {
    color: #ffffff !important;
    text-decoration: solid underline;

    &:hover {
      text-decoration: wavy underline;
    }
  }

  .footer-logo {
    width: 80px;
  }

  .social-wrapper {
    text-align: center;
    margin-top: 1rem;

    @media only screen and (min-width: $tablet) {
      float: left;

      .social-title {
        font-size: 1.5rem!important;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
      }

      .social-rest {
        margin-left: 3rem;
        transform: translateY(-2rem);
      }
    }

    .social-title {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      font-weight: bold;
      user-select: none;
    }

    .social-rest {
      .social {
        text-decoration: none;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .copyright-wrapper {
    text-align: center;

    @media only screen and (min-width: $tablet) {
      text-align: right;
      float: right;
    }

    .disclaimer {
      max-width: 48ch;
      font-size: .75rem;
      color: gray;
      margin-top: .5rem;
    }
  }
}
