.hero {
  padding-top: 3rem;

  @media only screen and (max-width: $tablet) {
    h1.title {
      font-size: 2.5rem;
    }

    h2.subtitle {
      font-size: 1.2rem;
    }
  }

  &.landing {
    .hero-body {
      position: relative;
      overflow: hidden;

      .container {
        z-index: 2;
      }

      hr {
        border: 1px dashed #b4c5fa;
        background: none;
        opacity: 0.5;
      }
    }
  }

  &.is-dark {
    h1.title {
      color: $white;

      em {
        color: $pink;
      }
    }

    h2.subtitle {
      line-height: 1.75;
    }
  }
}
