.navbar {
  .navbar-icon {
    transform: scale(1.5);
  }

  .navbar-item:not(.navbar-icon-item) {
    transition: all 0.2s ease;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-position: under;

    &:hover {
      background: transparent;
      text-decoration: underline;
      text-underline-position: under;
    }

    &.is-active {
      font-weight: bold;
      text-decoration: underline;
      text-underline-position: under;
    }

    /* @350D https://stackoverflow.com/a/20249560 */
    > span::before {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
    }
  }
}
