@mixin shuffle($name, $x, $y, $time) {
  animation: #{$name} $time linear infinite;
  @keyframes #{$name} {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX($x) translateY($y);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
}

.sphere-container {
  transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
  
  &.active {
    opacity: 1;
  }

  img.sphere {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;

    @media (max-width: 768px) {
      transform: scale(0.5);
    }
  }
}
