div.content {
  margin-bottom: 3rem;

  @media only screen and (min-width: $tablet) {
    max-width: 75%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-family;
    color: $primary;
  }

  p, ul, ol {
    font-size: 1.2rem;
    line-height: 1.75;
  }
  
  .image {
    margin-bottom: 10px;

    img {
      margin-bottom: 10px;
    }

    .image-caption {
      color: #9797a0;
      text-align: center;
      font-size: 0.8rem;
    }
  }
}