.expandable {
  margin-top: 1.5rem;

  .expand-label {
    cursor: pointer;

    h3 {
      user-select: none;
      transition: all 0.2s ease-in-out;
      color: #363636 !important;
      font-size: 1.3rem;
      font-family: $body-family;

      &::after {
        transition: all 0.35s ease-in-out;
        border-style: solid;
        border-width: 0.2rem 0.2rem 0 0;
        color: $primary;
        content: '';
        display: inline-block;
        height: 0.45rem;
        position: relative;
        transform: rotate(135deg);
        vertical-align: top;
        width: 0.45rem;
        left: 0.75rem;
        top: 0.3rem;
        bottom: 0;
      }
    }

    &.active {
      h3 {
        color: $primary !important;
        &::after {
          top: 0.5em;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .expand-content {
    display: none;
    border-left: 3px solid #2b51dc4d;
    padding-left: 20px;

    &.active {
      display: block;
    }
  }
}
