.hero {
  &.is-small {
    .hero-body {
      padding: 4rem 4rem 1rem!important;
    }
  }

  &.landing {
    .hero-body {
      position: relative;
      overflow: hidden;

      img.landing-logo {
        height: 13rem;
      }

      hr {
        border: 1px dashed #b4c5fa;
        background: none;
        opacity: 0.5;
      }
    }
  }

  &.is-dark {
    h1.title {
      color: $white;

      em {
        color: $pink;
      }
    }

    h2.subtitle {
      line-height: 1.75;
    }
  }
}
