.hero.landing {
  .hero-body {
    position: relative;

    h1.title {
      color: $primary;
      font-weight: bold;
    }

    h2.subtitle {
      em {
        font-style: normal;
        font-weight: bold;
        color: $primary;
      }
    }

    hr {
      border: 1px dashed #b4c5fa;
      background: none;
      opacity: 0.5;
    }
  }
}
