.subscribe {
  max-width: 30rem;

  .subscribe-form {
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 0.3rem;
    background-color: #eef1ff;
    display: flex;
    border-radius: 15px;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {
      border: 2px solid $primary;
      border-radius: 15px;
    }

    input.input {
      box-shadow: none;
      flex-grow: 1;
      overflow: visible;
      border: none;
      outline: none;
      background: none;
      border-radius: 15px;
      padding: calc(0.3em - 1px) calc(0.75em - 1px);
      font-size: 1rem;
    }

    .button {
      border-radius: 0.5rem;
      white-space: nowrap;
      padding-left: 1rem;
      padding-right: 1rem;

      &:hover {
        transform: none;
      }
    }
  }

  p.hint {
      color: #77787b;
      font-size: .8rem!important;
      margin-top: .3rem;
      padding-left: calc(0.75em - 1px);
  }
}
