{{ define "header_css" }}
<style>
    body {
        background-color: black;
    }
</style>
{{ end }}
{{ define "main" }}
<section class="hero is-medium is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                {{ safeHTML .Params.htmlTitle }}
            </h1>
            <h2 class="subtitle is-5">
                Patent Pending is a coworking community space by Build the Future. We believe that ideas flourish in environments that foster human connection, good conversation, and creative play. Patent Pending is a place where all three come together. We host co-working sessions every other Thursday from 6-9pm on campus.
            </h2>
            <h2 class="subtitle is-5">    
                Whether you’re hacking away on a side project or drafting a newsletter, you can work on it here alongside other Berkeley students once a month. We’ll have food, drinks, and activities to help you connect with both your work and each other.
            </h2>
            <a href="https://happy-lobster-238.notion.site/Patent-Pending-0349478eef8a40d4aedef068bd81bead">
                <div class="pill"><span class="pill-text">Join us! »</span></div>
            </a>
            <!-- <h2 class="subtitle is-5">
                <strong><em>Community is coming soon!</em></strong>
            </h2> -->
            <!-- <a href="https://tinyurl.com/patentpendingbybtf" class="button is-alt is-wider" target="_blank">Join Now</a> -->
        </div>
    </div>
</section>
<!-- <section class="section">
    <div class="container">
        <div class="speakers columns is-multiline">
            {{ range .Site.Data.coworking }}
            <div class="speaker column is-one-quarter is-flex">
                <div>
                    <img class="headshot" src="{{ .image }}">
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section> -->
{{end}}