.team {
  position: relative;

  .mask {
    background-color: $primary;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;

    img {
      border-radius: 8px;
      width: 100%;
      height: 10rem;
      object-fit: cover;
      object-position: top;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      margin-bottom: 0;
    }

    .socials {
      bottom: 0;
      height: 2.25rem;
      margin-top: 0;
      padding: 7px 12px;
      width: 100%;
      margin-left: 0;

      a {
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

        &:not(last-child) {
          margin-right: 6px;
        }

        &:hover {
          opacity: 0.75;
        }

        img {
          width: 22px;
          height: 22px;
          border-radius: 0;
        }
      }
    }
  }

  p.data {
    font-size: 14px;
  }
}
