.home-page {
  .hero.landing .hero-body {
    padding-bottom: 8rem;
  }

  .home-title {
    font-size: 3rem;
    background-clip: text;

    @media only screen and (min-width: $tablet) {
      font-size: 4.5rem;
    }

    em.brand {
      background: linear-gradient(
        -60deg,
        $primary 70%,
        $pink 75%,
        $primary 80%
      );
      background-size: 200% auto;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      animation: shine 3s cubic-bezier(0.4, 0.7, 0.7, 0.4) infinite;
      color: $primary;
    }
  }

  .pillars {
    .column {
      opacity: 0;
      animation-name: fadeInUp;
      -webkit-animation-name: fadeInUp;
      animation-duration: 1s;
      animation-fill-mode: both;
      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both;

      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          animation-delay: 200ms * ($i - 1);
        }
      }

      .box.pillar {
        min-height: 200px;
        transition: all 0.2s ease-in-out;
        position: relative;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        background-color: #eef1ff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;

        h2 {
          font-size: 2rem;
          font-family: $title-family;
          font-weight: bold;
          color: $primary;
          transform: translateZ(15px);
          transition: all 0.2s ease-in-out;
          text-align: center;
        }
      }
    }
  }
}

@keyframes shine {
  from {
    background-position: 200% center;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 80px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
