.home-page {
  .home-title {
    font-size: 3rem;
    background-clip: text;

    @media only screen and (min-width: $tablet) {
      font-size: 4.5rem;
    }

    em.brand {
      background: linear-gradient(
        -60deg,
        $primary 70%,
        $pink 75%,
        $primary 80%
      );
      background-size: 200% auto;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      animation: shine 3s cubic-bezier(0.4, 0.7, 0.7, 0.4) infinite;
      color: $primary;

      @keyframes shine {
        from {
          background-position: 200% center;
        }
      }
    }
  }
}
