.podcast-list {
  .hero-body {
    .title {
      em {
        .exclaimation {
          display: inline-block;
          transform: rotate(15deg);
          font-size: 110%;
        }
      }
    }
  }

  .podcast-ep-list {
    .spacer {
      height: 12rem;
    }

    @media only screen and (max-width: $tablet) {
      .spacer {
        display: none;
      }
    }

    .podcast-summary {
      .title {
        color: #fff;
      }

      p.meta strong {
        color: $pink;
      }

      .special {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}

.single-podcast {
  .special {
    color: $primary;
    font-weight: bold;
  }

  .content {
    color: $white;

    h1,
    h2,
    h3 {
      color: $white;
    }

    a {
      color: $pink;
      text-decoration-color: $pink;

      &:hover {
        color: $pink;
      }

      &:visited {
        color: adjust-hue($pink, 45deg);
        text-decoration-color: adjust-hue($pink, 45deg);
      }
    }

    i,
    strong,
    em {
      color: $white;
    }
  }
}
