{{ $title := site.Title }}
{{ if not .IsHome }}
{{ $title = printf "%s – %s" .Title .Site.Title }}
{{ else }}
{{ $title = "Build the Future @ UC Berkeley" }}
{{ end }}
<title>{{ $title }}</title>
<meta property="og:title" content="{{ $title }}" />
<meta name="twitter:title" content="{{ $title }}" />
<meta itemprop="name" content="{{ $title }}" />
<meta name="application-name" content="{{ $title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<meta name="description" content="{{ .Description | default .Content | plainify | htmlUnescape | truncate 160 "…" }}" />
<meta itemprop="description" content="{{ .Description | default .Content | plainify | htmlUnescape | truncate 160 "…" }}" />
<meta property="og:description" content="{{ .Description | default .Content | plainify | htmlUnescape | truncate 160 "…" }}" />
<meta name="twitter:description" content="{{ .Description | default .Content | plainify | htmlUnescape | truncate 160 "…" }}" />

<base href="{{ .Permalink }}">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta property="og:url" content="{{ .Permalink }}" />

<meta name="robots" content="index,follow" /> 
<meta name="googlebot" content="index,follow" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@btfcal">
<meta name="twitter:creator" content="@btfcal">