<footer class="footer is-dark">
    <div class="container">
        <div class="copyright-wrapper">
            <img class="footer-logo" src="/images/icon.png">
            <p><small>&copy; 2021 Build the Future</small></p>
            <p class="disclaimer"><small>We are a student group acting independently of the University of California. We take full responsibility for our organization and this website.</small></p>
        </div>
        <div class="social-wrapper">
            <h3 class="social-title">Check us out.</h3>
            {{ if .Site.Data.social }}
            <div class="social-rest">
                {{ range .Site.Data.social }}
                <a class="social" href="{{ .link }}" target="_blank" rel="noopener" title="{{ .name }}"><img src="{{ .image | relURL }}" alt="{{ .name }}" /></a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
    </div>
</footer>