<footer class="footer has-text-centered">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <p>
                    <img src="/images/icon.png" width="50">
                </p>
                <p>
                    <strong class="copyright has-text-weight-semibold">
                        &copy; 2021 Build the Future
                    </strong>
                </p>
                <p>
                    <small>
                        A student group at the University of California, Berkeley.
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>