<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Build the Future",
      "alternateName": "BTF",
      "description": "UC Berkeley’s student-run entrepreneurship hub.",
      "url": "https://thefuture.build",
      "logo": "https://thefuture.build/images/icon.png",
      "sameAs": [
        "https://www.facebook.com/btfdecal",
        "https://twitter.com/btfcal",
        "https://www.linkedin.com/company/how-to-build-the-future-decal/",
        "https://thefuture.build/"
      ]
    }
</script>