<section class="section sponsors">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <div class="content">
                    <h3 class="title is-3">Sponsors</h3>
                    <a class="logo" href="https://haas.berkeley.edu/" target="_blank" rel="noopener">
                        <img src="/images/sponsors/haas.gif" width="200" />
                    </a>
                    <a class="logo" href="https://thehouse.fund" target="_blank" rel="noopener">
                        <img src="/images/sponsors/thehouse.png" width="200" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>