
{{ define "main" }}
<section class="hero is-large landing">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop">
                    <h1 class="title is-1">
                        404: Page Not Found
                    </h1>
                    <h2 class="subtitle is-4">
                      We can't quite find what you're looking for. <a href="/"><em>Go back home »</em></a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

{{end}}