{{ define "main" }}
<section class="hero is-large landing">
    <div class="hero-body">
        <img class="sphere sphere-0" src="/vectors/sphere.svg" />
        <img class="sphere sphere-1" src="/vectors/sphere.svg" />
        <img class="sphere sphere-2" src="/vectors/sphere.svg" />
        <div class="container">
            <div class="animate__animated animate__fadeInUp">
                <h1 class="title is-1">
                    Build the Future
                </h1>
                <h2 class="subtitle is-4">
                    UC Berkeley’s student-run <em>entrepreneurship hub</em>.
                </h2>
                <!-- <a href="https://fa20.thefuture.build" class="button is-primary">Event Registration</a> -->
                <a href="/decal" class="button is-primary is-wider">BTF DeCal</a>
            </div>
        </div>
    </div>
</section>
{{end}}