{{ define "main" }}
<section class="hero is-large landing">
    <div class="hero-body">
        <img class="sphere sphere-0" src="/vectors/sphere.svg" />
        <img class="sphere sphere-1" src="/vectors/sphere.svg" />
        <img class="sphere sphere-2" src="/vectors/sphere.svg" />
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop animate__animated animate__fadeInUp">
                    <h1 class="title is-1">
                        Build the Future
                    </h1>
                    <h2 class="subtitle is-4">
                        UC Berkeley’s student-run <em>entrepreneurship hub</em>.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <div class="content">
                    <h3 class="title is-5 is-spaced" style="line-height: 1.5">
                        There’s no better place to explore building a startup than during your time as a student at UC Berkeley.
                        Surrounded by ambitious and talented people and industry-leading professors, there’s endless potential to create the next big thing.
                    </h3>
                    <!-- <a href="https://fa20.thefuture.build" class="button is-primary">Event Registration</a> -->
                    <a href="https://fa20.thefuture.build" class="button is-primary" target="_blank">Our Fall 2020 DeCal »</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}