@font-face {
  font-family: 'Ambit';
  src: url('/fonts/Ambit/Ambit-Regular.otf') format('opentype'),
    url('/fonts/Ambit/Ambit-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Ambit';
  src: url('/fonts/Ambit/Ambit-Bold.otf') format('opentype'),
    url('/fonts/Ambit/Ambit-Bold.ttf') format('truetype');
  font-weight: bold;
}
