@mixin font($font-family, $font-file, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + '.eot');
    src: url($font-file + '.eot#iefix') format('embedded-opentype'),
      url($font-file + '.woff2') format('woff2'),
      url($font-file + '.woff') format('woff'),
      url($font-file + '.ttf') format('truetype'),
      url($font-file + '.svg') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('Circular', '/fonts/Circular/CircularStd-Book', 400, 'normal');
@include font('Circular', '/fonts/Circular/CircularStd-Bold', 700, 'normal');
